@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container-fluid text-center">
    <h1 class="display-4 p-2">Welcome, your Dashboard is ready!</h1>
    <p>Here you'll find relevant information about your database. all the statistics here are available on default</p>
    <div class="row">
        <div class="col-sm-4 py-2">
            <div class="card card-body h-100">
                <div class="h-100">
                    <canvas id="record-chart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div class="card h-100 text-white">
                <div class="card-body">
                    <canvas id="bar-chart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div class="card h-100 card-body">
                <div class="h-100">
                    <canvas id="line-chart"></canvas>
                </div>
                <p>
                    eerste kwartiel: <br />
                    mediaan: <br />
                    derde kwartiel:<br />
                    gemiddelde:
                </p>
            </div>
        </div>
    </div>
</div>
@*here i include chart.js for graphs in our application*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script>
    var xValues = [2016, 2017, 2018, 2019, 2020, 2021, 2022];

    new Chart(document.getElementById("bar-chart"), {
        type: 'bar',
        data: {
            labels: ["horror", "family", "action", "comedy", "drama"],
            datasets: [
                {
                    label: "movies in db of this category",
                    backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                    data: [2478, 5267, 734, 784, 433]
                }
            ]
        },
        options: {
            maintainAspectRatio: false,
            legend: { display: false },
            title: {
                display: true,
                text: 'number of movies released per category per year for 6 years'
            }
        }
    });



    new Chart(document.getElementById("line-chart"), {
        type: "line",
        data: {
            labels: xValues,
            datasets: [{
                data: [860, 1140, 1060, 1060, 1070, 1110, 1330],
                borderColor: "red",
                fill: false,
                label: 'horror'
            }, {
                data: [1600, 1700, 1700, 1900, 2000, 2700, 4000],
                borderColor: "green",
                fill: false,
                label: 'family'
            }, {
                data: [300, 700, 2000, 5000, 6000, 4000, 2000],
                borderColor: "blue",
                fill: false
                , label: 'action'
            }]
        },
        options: {
            maintainAspectRatio: false,
            legend: { display: true },
            title: {
                display: true,
                text: 'number of views per category per year'
            }
        }
    });
    var xValues = ["main titles", "alternative titles", "episodes", "people", "ratings"];
    var yValues = [55, 49, 44, 24, 15];
    var barColors = [
        "#b91d47",
        "#00aba9",
        "#2b5797",
        "#e8c3b9",
        "#1e7145"
    ];

    new Chart("myChart", {
        type: "pie",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            title: {
                display: true,
                text: "World Wide Wine Production 2018"
            }
        }
    });
    new Chart("record-chart", {
        type: "pie",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            title: {
                display: true,
                text: "Records in db per table"
            }
        }
    });


</script>
