@page
@model PredictorModel
@{
    ViewData["Title"] = "predicator";
}
<script>
    function calculate_model() {
        const runtime_minutes = document.getElementById("runtime_minutes").value;
        const avg_rating_movie_actors = document.getElementById("avg_rating_movie_actors").value;
        const genre_count = document.getElementById("genre_count").value;
        const avg_actor_age = document.getElementById("avg_actor_age").value;
        const region_count = document.getElementById("region_count").value;
        const actors_avg_count_played_successful_titles = document.getElementById("actors_avg_count_played_successful_titles").value;
        const p = 1 / (1 + (Math.pow(Math.E,
            -(-7.394061529 + 0.015309283 * runtime_minutes
                + 0.380394951 * avg_rating_movie_actors
                - 0.175780790 * genre_count
                - 0.009272853 * avg_actor_age
                + 0.042842778 * region_count
                + 0.061651858 * actors_avg_count_played_successful_titles))));
        document.getElementById("output").value = p > 0.05 ? "Good" : "Bad";
        if (p > 0.05)
            document.getElementById("output").style.backgroundColor = "green";
        else
            document.getElementById("output").style.backgroundColor = "red";
    }
</script>
<div class="container">
    <div class="row">
        <div class="card text-center m-1">
            <h1>predictor tool</h1>
            <p>Threshold: 0.05</p>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">prediction:</span>
                <input disabled id="output" type="text" class="form-control text-black" aria-describedby="basic-addon1">
            </div><br /><br />

            <div class="row align-content-center justify-content-center">
                <div class="col-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">runtime minutes</span>
                        <input id="runtime_minutes" type="number" class="form-control" placeholder="Username" aria-label="runtime minutes" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon2">avg_rating_movie_actors</span>
                        <input id="avg_rating_movie_actors" type="text" class="form-control" placeholder="avg_rating_movie_actors" aria-describedby="basic-addon2">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon3">genre_count</span>
                        <input id="genre_count" type="text" class="form-control" placeholder="genre_count" aria-label="Username" aria-describedby="basic-addon3">
                    </div>

                </div>
                <div class="col-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon4">region_count</span>
                        <input id="region_count" type="text" class="form-control" placeholder="region_count" aria-label="region_count" aria-describedby="basic-addon4">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon5">avg_actor_age</span>
                        <input id="avg_actor_age" type="text" class="form-control" placeholder="avg_actor_age" aria-label="avg_actor_age" aria-describedby="basic-addon5">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon6">actors_avg_count_played_successful_titles </span>
                        <input id="actors_avg_count_played_successful_titles" type="text" class="form-control" placeholder="actors_avg_count_played_successful_titles " aria-label="actors_avg_count_played_successful_titles " aria-describedby="basic-addon6">
                    </div>
                </div>
                <div class="col-4">
                    <input class="btn btn-primary m-1" type="button" value="submit" onclick="calculate_model()" />
                </div>

            </div>
        </div>
        <div class="card m-1">
            <div class="card-body">
                <h1>information</h1>
                here you can find information about the data used to train this model and the training it self.
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Min</th>
                            <th>1st Qu</th>
                            <th>Median</th>
                            <th>Mean</th>
                            <th>3rd Qu</th>
                            <th>Max</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>runtimeMinutes</td>
                            <td>41</td>
                            <td>69</td>
                            <td>79</td>
                            <td>83</td>
                            <td>90</td>
                            <td>281</td>
                        </tr>
                        <tr>
                            <td>actors_avg_count_played_successful_titles</td>
                            <td>4.000</td>
                            <td>5.000</td>
                            <td>7.000</td>
                            <td>8.292</td>
                            <td>9.500</td>
                            <td>37.000</td>
                        </tr>
                        <tr>
                            <td>genrecount</td>
                            <td>1.000</td>
                            <td>4.000</td>
                            <td>5.000</td>
                            <td>5.243</td>
                            <td>6.500</td>
                            <td>17.000</td>
                        </tr>
                        <tr>
                            <td>average_actor_age</td>
                            <td>2.00</td>
                            <td>27.00</td>
                            <td>32.00</td>
                            <td>33.58</td>
                            <td>39.00</td>
                            <td>59.00</td>
                        </tr>
                        <tr>
                            <td>region_count</td>
                            <td>1.00</td>
                            <td>8.00</td>
                            <td>13.00</td>
                            <td>17.58</td>
                            <td>22.00</td>
                            <td>140.00</td>
                        </tr>
                        <tr>
                            <td>avg_rating_movie_actors</td>
                            <td>2.690</td>
                            <td>6.585</td>
                            <td>7.004</td>
                            <td>6.869</td>
                            <td>7.260</td>
                            <td>9.310</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>SUCCESS</td>
                            <td colspan="3">Mode: logical</td>
                            <td colspan="2">TRUE :57 </td>
                            <td colspan="2">FALSE:1143 </td>
                        </tr>
                    </tfoot>
                </table>
                <img src="/images/datablack.png" style="max-width: 80%; display: block"/>
                <p>the data is visible in relation to each other in the picture above. <br />
                    we did not use all this data to generate the model, as we remove multi colineair variables aswell as unnessesary variables.
                    </p>
                <img src="/images/roc.png" style="max-width: 80%; display: block" />
                The ROC curve shows the relationship between the true positive rate (TPR) and the false positive rate (FPR) at different thresholds for classifying the model's predicted probabilities as positive or negative.<br />
                TPR(true positive rate) is the percentage of correctly identified positive cases and FPR(false positive rate) is the percentage of falsely identified negative cases.
                <img src="/images/model_summary.png" style="max-width: 80%; display: block" />
                <p>
                    AIC stands for Akaike's Information Criterion, and is a simple way to evaluate the quality of our model.<br />
                    the lower the AIC the better the model is.
                    also, you can see the significance of the undependent variabels on the model in the picture below.
                    the '*' or '.' are indicating the level of significance of each independent variabel.
                </p>
                the data was split in uneven sets, 70% for training and 30% for validation.
                the split dataset's, train and predict, had the same ratio of true to false observations.
                <h2>Trueth table for train</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Variable</th>
                            <th>FALSE</th>
                            <th>TRUE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>FALSE</td>
                            <td>612</td>
                            <td>188</td>
                        </tr>
                        <tr>
                            <td>TRUE</td>
                            <td>13</td>
                            <td>27</td>
                        </tr>
                    </tbody>
                </table>
                <h2>Trueth tabel for test</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Variable</th>
                            <th>FALSE</th>
                            <th>TRUE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>FALSE</td>
                            <td>264</td>
                            <td>79</td>
                        </tr>
                        <tr>
                            <td>TRUE</td>
                            <td>5</td>
                            <td>12</td>
                        </tr>
                    </tbody>
                </table>
                <p>The Trueth table can be very handy for determining the quality of your model.</p>
            </div>
        </div>
    </div>
</div>
